<app-header></app-header>
<div class="columns is-centered mb-6">
    <div class="column">
        <div class="notification has-text-centered">
            <span class="is-size-4 mb-2">Hoempapa hoempapa, een paard in de gang of bloemetjesgordijn? </span><br />
            Voordat we verder kunnen met de avond moeten we natuurlijk eerst weten op welke carnavals artiest jij het meest lijkt! Klik daarom op <span class="is-underlined">Start hier!</span> en vul alle vragen in. <br />
            Als je klaar bent met de vragenlijst zul je zien op wie jij het meest lijkt!
          </div>
    </div>
</div>
<div class="columns is-centered">
    <div class="column">
        <button routerLink="/survey" class="button is-rounded is-warning is-large is-fullwidth">Start hier!</button>
    </div>
</div>